.badge-img {
    position: relative;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-top: -75px;
    margin-left: 100px;
    transition: transform 0.3s ease; /* 확대 애니메이션 */
    z-index: 10; /* 다른 요소 위에 표시 */
}

.badge-img:hover {
    transform: scale(1.5); /* 1.5배 확대 */
}